<nav id="nav-bar">
  <ul class="site-nav">
    <li><a href="<%= page==='index' ? "#" : "/" %>" class=<%= page==='index' ? "act" : ''%>>Home</a></li>
    <li><a href="<%= page==='about' ? "#" : "/about" %>" class=<%= page==='about' ? "act" : ''%>>About Us</a></li>
    <li><a href="<%= page==='articles' ? "#" : "/articles" %>" class=<%= page==='articles' ? "act" : ''%>>Articles</a></li>
    <li><a href="<%= page==='contact' ? "#" : "/contact-us" %>" class=<%= page==='contact' ? "act" : ''%>>Contact Us</a></li>
    <li><a href="<%= page==='dashboard' ? "#" : "/dashboard" %>" class=<%= page==='dashboard' ? "act" : ''%>>DashBoard</a></li>
  </ul>
</nav>
